---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Paperlayer.">
  <div class="max-w-4xl mx-auto py-32">
    <h1
      class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl text-center mb-12"
    >
      We May Not Be Good at Basketball, But We Know Paper
    </h1>
    <p class="text-lg leading-8 text-gray-600 text-center">
      Providing High-Quality Paper Products (and Awkward Moments) Since 2005.
      Our Paper Is Perfect for Scribbling Down Your Best That's-What-She-Said
      Jokes.
    </p>
  </div>
  <div class="grid grid-cols-2 max-w-4xl mx-auto gap-12 mb-24">
    <div>
      <img
        src="/packaging-box.jpg"
        height="667"
        width="1000"
        alt="Packaging Box"
        class="rounded-lg shadow-lg"
      />
      <div class="mt-4 flex items-center justify-between">
        <div>
          <h3 class="text-xl font-serif">Sustainable Shipping Boxes</h3>
          <div class="text-sm font-medium text-gray-400">$5.99</div>
        </div>
        <div>
          <button
            class="rounded-full border border-gray-700 px-4 py-2 hover:bg-black hover:text-white hover:border-gray-900"
          >
            Buy now</button
          >
        </div>
      </div>
    </div>
    <div>
      <img
        src="/wrapper.jpg"
        height="667"
        width="1000"
        alt="Wrapper"
        class="rounded-lg shadow-lg"
      />
      <div class="mt-4 flex items-center justify-between">
        <div>
          <h3 class="text-xl font-serif">Product Packaging</h3>
          <div class="text-sm font-medium text-gray-400">$0.99</div>
        </div>
        <div>
          <button
            class="rounded-full border border-gray-700 px-4 py-2 hover:bg-black hover:text-white hover:border-gray-900"
          >
            Buy now</button
          >
        </div>
      </div>
    </div>
    <div>
      <img
        src="/coffee-packaging.jpg"
        height="667"
        width="1000"
        alt="coffee packaging"
        class="rounded-lg shadow-lg"
      />
      <div class="mt-4 flex items-center justify-between">
        <div>
          <h3 class="text-xl font-serif">Packaging Pouch</h3>
          <div class="text-sm font-medium text-gray-400">$2.99</div>
        </div>
        <div>
          <button
            class="rounded-full border border-gray-700 px-4 py-2 hover:bg-black hover:text-white hover:border-gray-900"
          >
            Buy now</button
          >
        </div>
      </div>
    </div>
    <div>
      <img
        src="/wrapping-paper.jpg"
        height="667"
        width="1000"
        alt="Wrapping paper"
        class="rounded-lg shadow-lg"
      />
      <div class="mt-4 flex items-center justify-between">
        <div>
          <h3 class="text-xl font-serif">Recycled Wrapping Paper</h3>
          <div class="text-sm font-medium text-gray-400">$1.99</div>
        </div>
        <div>
          <button
            class="rounded-full border border-gray-700 px-4 py-2 hover:bg-black hover:text-white hover:border-gray-900"
          >
            Buy now</button
          >
        </div>
      </div>
    </div>
  </div>
</Layout>
