---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Welcome to Paperlayer.</title>
  </head>
  <body style="font-family: sans-serif;">
    <div style="max-width: 576px; margin: 0 auto; text-align: center; padding: 64px 0;">
      <h1 style="font-size: 32px;">Chatwoot Widget Testing</h1>
      <button onclick="window.$chatwoot.reset()" style="margin-top: 24px; padding: 10px 24px; font-size: 16px; cursor: pointer; background-color: #f3f4f6; border: none; border-radius: 8px; color: #374151; font-weight: 500;">Reset Widget Data</button>
    </div>
  </body>
  <script>
  window.chatwootSettings = {"position":"right","type":"standard","launcherTitle":""};
  (function(d,t) {
    var BASE_URL="https://app.chatwoot.com";
    var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=BASE_URL+"/packs/js/sdk.js";
    g.async = true;
    s.parentNode.insertBefore(g,s);
    g.onload=function(){
      window.chatwootSDK.run({
        websiteToken: '7fddL9NALjm7w9o8sSVwqbCn',
        baseUrl: BASE_URL
      })
    }
  })(document,"script");
</script>
</html>
