---
import Info from "../components/Info.vue";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Customer Info</title>
  </head>
  <body class="bg-white">
    <div class="mx-auto max-w-8xl mt-24">
      <Info />
    </div>
  </body>
</html>
